{% extends 'base.html' %}
{% load static %}

{% block container %}
    <div class="row w-100 h-100 p-0 m-0">
        <div class="col-md-2 px-0 h-100">
            <nav class="content offcanvas-body">
                <p>Usuario: {{ user }}</p>
                <div class="d-flex flex-column">
                    <a href="{% url 'school:school_list' %}">Inicio</a>
                    <a href="{% url 'logout' %}">Cerrar sesión</a>
                </div>
            </nav>
        </div>

        <div class="col-md-10 px-0 h-100">
            {% block panel_right %}{% endblock %}
        </div>
    </div>
{% endblock %}

