{% extends 'base.html' %}
{% load static %}
{% block container %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#">Escuelas</a>
            <!-- Botón a la derecha -->
            <div class="ms-auto">
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="userMenu"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            {{ user.username }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
                            {% if is_school %}
                                <li><a class="dropdown-item" href="{% url 'school:edit_school' %}">Editar escuela</a></li>
                            {% elif not is_school_with_no_school %}
                                <li><a class="dropdown-item" href="{% url 'users:edit_profile' %}">Editar perfil</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{% url 'schools:create_school' %}">Crear escuela</a></li>
                            {% endif %}
                            {% if request.user.is_staff %}
                                <li><a class="dropdown-item" href="{% url 'panel:list_users' %}" target="_blank">Panel</a></li>
                            {% endif %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item text-danger" href="{% url 'logout' %}">Cerrar sesión</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a class="btn btn-outline-primary" href="{% url 'login' %}">Iniciar sesión</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <!-- Header-->
    <header class="bg-dark py-2">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Listado de Escuelas</h1>
                <p class="lead fw-normal text-white-50 mb-0">Encuentra la mejor escuela para ti</p>
            </div>
        </div>
    </header>

    <!-- Section -->
    <section class="py-5">
        <div class="container-fluid px-6 px-lg-7 row">
            <!-- Barra de búsqueda -->
            <div class="card mb-4 offset-1 col-10 p-0">
                <div class="card-body bg-light border rounded p-3">

                        <div class="row g-3">
                            <!-- Buscador -->
                            <div class="col-md-4">
                                <label for="search" class="form-label fw-bold">Buscador</label>
                                <input
                                    id="search"
                                    type="text"
                                    class="form-control"
                                    placeholder="Busca la escuela por lo que desees..."
                                    name="search"
                                    hx-get="{% url 'home' %}"
                                    hx-target="#school-list"
                                    hx-trigger="keyup changed delay:500ms"
                                    hx-include="#turno, #distance"
                                />
                            </div>

                            <!-- Turno -->
                            <div class="col-md-4">
                                <label for="turno" class="form-label fw-bold">Turno</label>
                                <select
                                    id="turno"
                                    name="turno"
                                    class="form-select"
                                    hx-get="{% url 'home' %}"
                                    hx-target="#school-list"
                                    hx-trigger="change"
                                    hx-include="#search, #distance"
                                >
                                    <option value="">Todos</option>
                                    <option value="Mañana">Mañana</option>
                                    <option value="Tarde">Tarde</option>
                                    <option value="Noche">Noche</option>
                                </select>
                            </div>

                            <!-- Distancia -->
                            <div class="col-md-4">
                                <label for="distance" class="form-label fw-bold">Distancia</label>
                                <select
                                    id="distance"
                                    name="distance"
                                    class="form-select"
                                    hx-get="{% url 'home' %}"
                                    hx-target="#school-list"
                                    hx-trigger="change"
                                    hx-include="#search, #turno, #distance"
                                >
                                    <option value="">-- Selecciona --</option>
                                    <option value="5">5 km</option>
                                    <option value="10">10 km</option>
                                    <option value="25">25 km</option>
                                </select>
                            </div>
                        </div>

                </div>
            </div>

            <!-- Contenedor dinámico con resultados -->
            <div id="school-list"
                 class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-lg-5 justify-content-center">
                {% include "base/partials/school_cards.html" with schools=schools %}
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">&copy; Proyecto Escuelas 2025</p></div>
    </footer>
    <script src="{% static 'js/location_filter.js' %}"></script>
{% endblock %}
