@charset "UTF-8";

.flap {
    height: 50px;
    padding-left: 0;
    padding-right: 0;
}

.flap-button {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.flap-button-left {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 18px;
    border-bottom-left-radius: 0.75rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.flap-button-right {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 18px;
    border-bottom-right-radius: 0.75rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.cover-photo {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #ddd;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-photo {
    position: absolute;
    bottom: 30%;
    left: 3.5%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid white;
    background-color: #bbb;
    background-size: cover;
    background-position: center;
}

/* ----- Estilos para login ----- */
.rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

@media (min-width: 992px) {
    .rounded-tr-lg-0 {
        border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
        border-bottom-left-radius: 0.5rem;
    }
}

.background-dark {
    background-color: #424242;
}

.background-gradient-primary {
    background: #B08E6B;
    background: linear-gradient(90deg, rgba(176, 142, 107, 1) 0%, rgba(26, 37, 115, 1) 70%, rgba(66, 66, 66, 1) 100%);
}

.custom-card {
    width: 75%;
    height: 60%;
    align-self: center;
    justify-self: center;
}

.fc-white {
    color: white !important;
}

.fc-gradient {
    background: linear-gradient(90deg, rgba(176, 142, 107, 1) 0%, rgba(26, 37, 115, 1) 70%, rgba(66, 66, 66, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-size: 72px;
}

.custom-input-effect {
    border: 1px solid white !important;
    color: white !important;
}

.form-label-custom {
    color: white !important;
}

body, html {
    height: 100%;
    margin: 0;
}

.split-container {
    display: flex;
    height: 100vh;
    background: linear-gradient(90deg, rgba(176, 142, 107, 1) 0%, rgba(26, 37, 115, 1) 70%, rgba(66, 66, 66, 1) 100%);
}

.split {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

.split:hover {
    flex: 1.2;
}

.split::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
    opacity: 0.4;
}

    .split-left::before {
    background-image: url("../img/login_image.png");
}

.split-right::before {
    background-image: url("../img/school_photo_register.png");
}

.btn-option {
    position: relative;
    z-index: 1;
    padding: 30px 50px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 12px;
    border: none;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.btn-left {
    background: #2c3e50;
    color: #fff;
}

.btn-left:hover {
    background: #34495e;
    transform: scale(1.05);
}

.btn-right {
    background: #7f8c8d;
    color: #fff;
}

.btn-right:hover {
    background: #95a5a6;
    transform: scale(1.05);
}
.cascading-right {
    margin-right: -50px;
}

.bg-gray {
    background-color: #f2f2f2;
}

.custom-bg-white {
    border-radius: 1rem;
    background-color: white;
}
@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}

