{% extends 'base.html' %}
{% load static %}
{% block custom_styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block container %}
    <meta name="google-maps-api-key" content="{{ GOOGLE_MAPS_API_KEY }}">
    <div class="container-xl px-4 mt-4">
        <nav class="nav nav-borders">
            {% url 'school:edit_school' as edit_school %}
            <a class="nav-link ms-0"
               style="cursor: pointer;"
               hx-get="{{ edit_school }}"
               hx-target="#section"
               hx-swap="innerHTML"
               hx-trigger="click"
               id="edit-profile-tab">
                Editar perfil de la escuela
            </a>

            {% url 'school:photos' as photos %}
            <a class="nav-link ms-0"
               style="cursor: pointer;"
               hx-get="{{ photos }}"
               hx-target="#section"
               hx-swap="innerHTML"
               hx-trigger="click"
               id="photos-tab">
                Editar fotos
            </a>

            {% url 'school:create_careers' as careers_url %}
            <a class="nav-link ms-0"
               style="cursor: pointer;"
               hx-get="{{ careers_url }}"
               hx-target="#section"
               hx-swap="innerHTML"
               hx-trigger="click"
               id="careers-tab">
                Administrar carreras
            </a>
        </nav>
        <hr class="mt-0 mb-4">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <div class="mb-3">
            <a class="text-decoration-none" href="{% url 'home' %}">
                <i class="fa-solid fa-arrow-left"></i> Volver al listado de escuelas
            </a>
        </div>

        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <div id="section" class="mx-4">
            {% if careers_context %}
                {% include 'school/create_careers.html' %}
            {% elif photos_context %}
                {% include 'school/partial/photos.html' %}
            {% else %}
                {% include 'school/partial/edit_data.html' %}
            {% endif %}
        </div>

    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/edit_school.js' %}"></script>
    <script src="{% static 'js/manage_photos.js' %}"></script>
{% endblock %}
