{% extends 'base.html' %}
{% load static %}
{% block container %}
    <div class="container-fluid pt-4 vw-100 vh-100 bg-gray">
        <div class="card mb-4 mx-4 rounded-4 shadow-sm custom-bg-white">
            <div class="card-body">
                <div class="cover-photo"
                        {% if school.profile_photo %}
                     style="background-image: url('{{ school.profile_photo.url }}');"
                        {% endif %}
                >
                </div>

                <div class="profile-photo"
                        {% if school.logo %}
                     style="background-image: url('{{ school.logo.url }}');"
                        {% else %}
                     style="background-image: url('{% static 'img/profile_default.png' %}');"
                        {% endif %}
                ></div>
            </div>

            <div class="row d-flex w-100 ms-0 rounded-bottom">
                <div class="col-3 flap">
                    <button hx-get="{% url 'school:general_information' school.id %}" hx-target="#section"
                            hx-swap="innerHTML" class="flap-button-left">
                        Información general
                    </button>
                </div>

                <div class="col-3 flap">
                    <button hx-get="{% url 'comments:comments_list' school.id %}" hx-target="#section"
                            hx-swap="innerHTML" class="flap-button">
                        Opiniones
                    </button>
                </div>

                <div class="col-3 flap">
                    <button hx-get="{% url 'school:careers_list' school.id %}" hx-target="#section"
                            hx-swap="innerHTML" class="flap-button-right">
                        Carreras
                    </button>
                </div>

                <div class="col-3 flap">
                    <button hx-get="{% url 'school:photos_list' school.id %}" hx-target="#section"
                            hx-swap="innerHTML" class="flap-button-right">
                        Fotos
                    </button>
                </div>
            </div>
        </div>

        <div class="mb-3 ms-4">
            <a href="{% url 'home' %}">Volver al listado de escuelas</a>
        </div>

        <div id="section" class="mx-4">
            {% include 'school/partial/general_information.html' %}
        </div>

    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/replyBox.js"></script>
{% endblock %}