{% extends 'base.html' %}
{% load static %}
{% block container %}
    <div class="container-fluid mt-4">
        <div class="card mb-4">
            <div class="card-body">
                <h1 class="card-title">{{ school.name }}</h1>
                <p class="card-text">
                    <strong>Valoración promedio:</strong>
                    {% if school.average_valoration %}
                        <span class="badge bg-success">{{ school.average_valoration }}</span>
                    {% else %}
                        <span class="badge bg-secondary">Sin valoraciones</span>
                    {% endif %}
                </p>
                <p><strong>Dirección:</strong> {{ school.address }}</p>
                <p><strong>Teléfono:</strong> {{ school.phone_number }}</p>
                <p><strong>Email:</strong> {{ school.email }}</p>
            </div>

            <div class="row d-flex w-100">
                <div class="col-3">
                    <button hx-get="{% url 'comments:comments_list' school.id %}" hx-target="#section"
                            hx-swap="innerHTML">
                        Opiniones
                    </button>
                </div>

                <div class="col-3">
                    <button hx-get="{% url 'schools:careers_list' school.id %}" hx-target="#section"
                            hx-swap="innerHTML">
                        Carreras
                    </button>
                </div>
            </div>
        </div>

        <div id="section">

        </div>

    </div>
{% endblock %}

{% block js %}
    <script src="/static/js/replyBox.js"></script>
{% endblock %}